# Filter, Drop Nulls, Dedupe
Use `data_08_v1.csv` and `data_18_v1.csv`. You should've created these data files in the previous section: *Cleaning Column Labels*.

In [163]:
# load datasets
import pandas as pd

df_08 = pd.read_csv('data_08_v1.csv')
df_18 = pd.read_csv('data_18_v1.csv')

df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
model                   2404 non-null object
displ                   2404 non-null float64
cyl                     2205 non-null object
trans                   2205 non-null object
drive                   2311 non-null object
fuel                    2404 non-null object
cert_region             2404 non-null object
stnd                    2404 non-null object
underhood_id            2404 non-null object
veh_class               2404 non-null object
air_pollution_score     2404 non-null object
fe_calc_appr            2205 non-null object
city_mpg                2205 non-null object
hwy_mpg                 2205 non-null object
cmb_mpg                 2205 non-null object
unadj_cmb_mpg           2205 non-null float64
greenhouse_gas_score    2205 non-null object
smartway                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.1+ KB

In [164]:
# view dimensions of dataset
df_08.shape

(2404, 18)

In [165]:
# view dimensions of dataset
df_18.shape

(1611, 14)

## Filter by Certification Region

In [166]:
# filter datasets for rows following California standards
df_08 = df_08[df_08['cert_region']=='CA']
df_18 = df_18[df_18['cert_region']=='CA']

In [167]:
# confirm only certification region is California
df_08['cert_region'].unique()

array(['CA'], dtype=object)

In [168]:
# confirm only certification region is California
df_18['cert_region'].unique()

array(['CA'], dtype=object)

In [169]:
# drop certification region columns form both datasets
df_08.drop('cert_region',axis=1,inplace=True)
df_18.drop('cert_region',axis=1,inplace=True)

In [170]:
df_08.shape

(1084, 17)

In [151]:
df_18.shape

(798, 13)

## Drop Rows with Missing Values

In [171]:
# v.insmissing value count for each feature in 2008
df_08.isnull().sum()

model                    0
displ                    0
cyl                     75
trans                   75
drive                   37
fuel                     0
stnd                     0
underhood_id             0
veh_class                0
air_pollution_score      0
fe_calc_appr            75
city_mpg                75
hwy_mpg                 75
cmb_mpg                 75
unadj_cmb_mpg           75
greenhouse_gas_score    75
smartway                 0
dtype: int64

In [172]:
# view missing value count for each feature in 2018
df_18.isnull().sum()

model                   0
displ                   1
cyl                     1
trans                   0
drive                   0
fuel                    0
veh_class               0
air_pollution_score     0
city_mpg                0
hwy_mpg                 0
cmb_mpg                 0
greenhouse_gas_score    0
smartway                0
dtype: int64

In [173]:
# drop rows with any null values in both datasets
df_08.dropna(inplace=True)
df_18.dropna(inplace=True)

In [174]:
# checks if any of columns in 2008 have null values - should print False
df_08.isnull().sum().any()

False

In [175]:
# checks if any of columns in 2018 have null values - should print False
df_18.isnull().sum().any()

False

## Dedupe Data

In [176]:
# print number of duplicates in 2008 and 2018 datasets

df_08.duplicated().sum()
df_18.duplicated().sum()

3

In [177]:
# drop duplicates in both datasets
df_08.drop_duplicates(inplace=True)
df_18.drop_duplicates(inplace=True)

In [178]:
# print number of duplicates again to confirm dedupe - should both be 0

df_08.duplicated().sum(),df_18.duplicated().sum()

(0, 0)

In [179]:
# save progress for the next section
df_08.to_csv('data_08_v2.csv', index=False)
df_18.to_csv('data_18_v2.csv', index=False)

In [161]:


df_18.shape

(794, 13)

In [162]:
df_08.shape

(1006, 17)